.SearchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 15px 22px;
    flex-wrap: wrap;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    
}
.left {
    transform: scale(1.25);
    width: 25%;
    display: flex;
    align-items: center;
    min-width: 120px;
    margin: 10px 0px 10px 10px;
}
a {
    text-decoration: none;
    color: initial;
}
h1 {
    font-size: 1em;
    margin-left: 10px;
}
i {
    transform: scale(1.2);
}
i:hover, #search:hover, #search:focus, #search:active {
    transition: 1s;
    transform: scale(1.25);
    color: royalblue;
    outline: none;
    border-radius: 15px;
}
i:hover {
    transform: scale(1.45);
}
#search {
    
    transition: 1s;
    font-size: 1em;
    text-align: center;
    margin: 10px 0;
}
.right {
    transform: scale(1.25);
    display: flex;
    width: 20%;
    min-width: 120px;
    justify-content: space-around;
    margin: 10px 0;
}
