* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: royalblue;
}
.App {
  width: 100%;
  max-width: 560px;
  margin: 50px auto;
  background: #f9f9f9;
}
img {
  width: 100%;
}


i:hover {
  transition: 1s;
  transform: scale(1.25);
  color: royalblue;
}
