* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(75, 108, 183, 0.7);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(24, 40, 72, 0.7), rgba(75, 108, 183, 0.7));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(24, 40, 72, 0.7), rgba(75, 108, 183, 0.7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.App {
  width: 100%;
  max-width: 610px;
  min-height: 800px;
  margin: 50px auto;
  background: #f9f9f9;
  padding: 10px 10px;
  border: 15px solid #333;
  border-radius: 50px;
}
img {
  width: 100%;
}
